<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>IT3-opdracht9</title>



      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
<div class="parallax">

  <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"> Favorite songs in 2016 </div>
      </div>
    </div>


    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Jaden Smith - Fallen</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
    </div>


    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Lady Gaga - Million Reasons</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>


    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Woodkid - I Love You</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title"></div>
      </div>
    </div>


    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Chloe x Halle - Fall</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>


    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">James Arthur - Safe Inside</div>
      </div>
    </div>


  <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Beyoncé - Mine </div>
      </div>
    </div>


    <div id="group8" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">The Weeknd - Starboy</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
    </div>


    <div id="group9" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Ariana Grandé - Side to Side</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>




    <div id="group10" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Adele - Hello</div>
      </div>
    </div>



  </div>


</body>
</html>
